.relativize, .relative { position: relative; }
.relativize>* { position: absolute; }
.absolute { position: absolute; }
.fixed { position: fixed; }

.absolute.top, .relativize>.top { top: 0; }
.absolute.left, .relativize>.left { left: 0; }
.absolute.bottom, .relativize>.bottom { bottom: 0; }
.absolute.right, .relativize>.right { right: 0; }
.absolute.center, .relativize>.center { left: 50%; top: 50%; }

.expand, .expand-all, .expand-all * { width: 100%; height: 100%; }
.expand-x { width: 100%; height: auto; }
.expand-y { height: 100%; width: auto; }

div.cover { background-size: cover; background-repeat: no-repeat; background-position: center center; }
img.cover { width: 100%; height: auto; }
img.baseline { vertical-align: baseline; }

.uppercase { text-transform: uppercase; }
.nowrap { white-space: nowrap; }
.italic { font-style: italic; }
.bold { font-weight: 700; }

.space-N-20 { margin-top: 20px; }
.space-N-30 { margin-top: 30px; }
.space-N-40 { margin-top: 40px; }
.space-N-50 { margin-top: 50px; }
.space-N-60 { margin-top: 60px; }
.space-E-10 { margin-right: 10px; }
.space-E-15 { margin-right: 15px; }
.space-E-20 { margin-right: 20px; }
.space-S-10 { margin-bottom: 10px; }
.space-S-20 { margin-bottom: 20px; }
.space-S-30 { margin-bottom: 30px; }
.space-S-50 { margin-bottom: 50px; }
.space-S-60 { margin-bottom: 60px; }
.space-W-15 { margin-left: 15px; }

.space-NS-20 { margin-top: 20px; margin-bottom: 20px; }

@media(max-width: 767px) {
	.space-N-0-xs { margin-top: 0; }
	.space-N-10-xs { margin-top: 10px; }
	.space-N-30-xs { margin-top: 30px; }
	.space-S-0-xs { margin-bottom: 0px; }
	.space-S-10-xs { margin-bottom: 10px; }
	.space-S-20-xs { margin-bottom: 20px; }
}

.inspace-0 { padding: 0 !important; }
.inspace-N-2 { padding-top: 2px; }
.inspace-N-4 { padding-top: 4px; }

.organize-y-2>* { margin-bottom: 2px; }
.organize-y-5>* { margin-bottom: 5px; }
.organize-y-30>* {margin-bottom: 30px; }
.organize-y-60>* {margin-bottom: 60px; }

@media(max-width: 767px) {
	.organize-y-2-xs>* { margin-bottom: 2px; }
	.organize-y-5-xs>* { margin-bottom: 5px; }
	.organize-y-15-xs>* {margin-bottom: 15px; }
	.organize-y-30-xs>* {margin-bottom: 30px; }
}

.ratio-16by9 { position: relative; padding-bottom: 56.25%; }
.ratio-16by9>* { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media(max-width: 767px) {
	.cancel-pull-xs { float: none !important; }
}